/* Variables --------------------------------------------------------- */

/* Fonts ------------------------------------------------------------- */

$font-primary: 'IBM Plex Sans', sans-serif;
$font-primary-cd: 'IBM Plex Sans Condensed', sans-serif;
$font-roboto: 'Roboto', sans-serif;

/* Fonts Styles ------------------------------------------------- */

.italic {
  font-style: italic;
}

/* Colors ------------------------------------------------------------ */
$myHotel-ok: #01aaaf;
$myHotel-blue: #289ccd;
$myHotel-green: #1eb980;
$myHotel-warning: #ff3b3b;
$myHotel-darkblue: #1665df;
$myHotel-dark: #333333;
$myHotel-white: #ffffff;
$myHotel-light-grey: #dddddd;
$myHotel-empty: #A5A6A7;
$myHotel-table-header: #FAFAFA;
$myHotel-table-row: #F0F0F0;
$myHotel-search-icon: #BFBFBF;
$myHotel-white-two: #fafafa;
$myHotel-border: #eeeeee;
$myHotel-border-dc: #dcdcdc;
$myHotel-title: #202124;
$myHotel-grey: #5f6368;
