<nav class='navbar navbar-expand navbar-dark bg-dark'>
  <a class='navbar-brand'>{{title | capitalizado }}</a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link bg-myhotel' routerLinkActive='active' routerLink='/home'>Home</a></li>
    <li><a class='nav-link bg-myhotel' routerLinkActive='active' routerLink='/customer-list'>Customers List</a> </li>
    <li><a class='nav-link bg-myhotel' routerLinkActive='active' routerLink='/counter-app'>REDUX APP</a> </li>
  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>
